<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">



<div class="container text-center">
    <br>
    <br>
    <br>
    <br>
    <h3> Страница содержит краткую информацию о функционале сайта. </h3>
    <h4>Этот сайт- простой генератор паролей, он может придумать пароль за
        вас! Позволяет выбрать длину пароля. По желанию вы можете добавить к базовому
        нижнему регистру прописные буквы, числа,
        спецсимволы (! @ # $% ^ & * () _ + | <>?., '"~). Внимание! Созданные пароли нигде не сохраняются. Это безопасно.
    </h4>
    <h5>Это первый учебный проект</h5>
    <a href="{% url 'index'%}"> На Главную </a>
</div>